#container{
    margin-top: 25%;
    display: flex;
    height:50vh;
    width:100vw;
    flex-direction:column;
    font-size:7vh;
    font-weight:bold;
    justify-content:space-between;
	align-content:space-between;

}
.oval{
    height:30px;
    width:150px;
    border: 2px solid black;
    border-radius: 20px;
    position:relative;
}
.circle{
    background-color:black;
    border-radius:50%;
    width:30px;
    height:30px;
}
.toggleCircle{
    background-color:black;
    border-radius:50%;
    width:30px;
    height:30px;

    position:absolute;
    left:120px;
}
.toggleOval{
     height:30px;
    width:150px;
    border: 2px solid black;
    border-radius: 20px;
    position:relative;
    background-color: white;

    border:2px solid white;
}
.toggleBack{
    background-color:black;
    color:white;
    
}