#ball{
	background-color: #a900ffb3;
	border-radius: 50%;
	height: 150px;
	width:150px;
	position:absolute;
	left : 1px;
	top:1px;
	float: left;
	display: inline;
	box-sizing: border-box;
	padding-top: 60px;
	padding-left: 53px;
	



}
@media only screen and (max-width: 600px)
{
	#ball{
		height: 100px;
		width: 100px;
		padding-top: 35px;
		padding-left: 25px;
	}
}
