body{
  margin: 0px;
  padding: 0px;
}
#container{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    /* position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%); */
    align-items: center;
}

#container div:not(:first-child){

    padding:3px;
    text-align:center;
    margin-top:20px;
}

#circle{
    height:150px;
    width:150px;
    border-radius:50%;
    background-color:purple;
    box-sizing: border-box;

}
.inner{
    background-color:white;
    position: relative;
    width: 75px;
    height: 75px;
    left:38px;
    top:40px;

}
   .triangle-bottomleft
{
      background-color: transparent;
      position:relative;
    left:38px;
    top:40px;
      width: 0;
      height: 0;
      border-bottom: 75px solid red;
      border-right: 75px solid transparent;
}
